examples/Type 108 - Machine Uptime Monitoring Sensor/Dashboard.json
[
    {
        "id": "2831c80ce8cbff02",
        "type": "ui_text",
        "z": "0f850dc8977c3d53",
        "group": "4981bd2e04d76971",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 320,
        "wires": []
    },
    {
        "id": "20c78fca60f04bc2",
        "type": "ui_text",
        "z": "0f850dc8977c3d53",
        "group": "92ebb59583f24ffd",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Counter:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 420,
        "wires": []
    },
    {
        "id": "3ee30d322f444166",
        "type": "ui_slider",
        "z": "0f850dc8977c3d53",
        "name": "Visual Range",
        "label": "",
        "tooltip": "",
        "group": "92ebb59583f24ffd",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4294967295",
        "step": 1,
        "className": "",
        "x": 1170,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "62733313fc1d4f9e",
        "type": "ui_text",
        "z": "0f850dc8977c3d53",
        "group": "92ebb59583f24ffd",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 520,
        "wires": []
    },
    {
        "id": "bd11b72d90b4bf24",
        "type": "ui_slider",
        "z": "0f850dc8977c3d53",
        "name": "Visual Range",
        "label": "",
        "tooltip": "",
        "group": "92ebb59583f24ffd",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4294967295",
        "step": 1,
        "className": "",
        "x": 1170,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "d9366eedf4db9ba2",
        "type": "ui_text",
        "z": "0f850dc8977c3d53",
        "group": "3cbd8d7478c9eeda",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Counter:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 620,
        "wires": []
    },
    {
        "id": "2643f6c0483ccb8e",
        "type": "ui_slider",
        "z": "0f850dc8977c3d53",
        "name": "Visual Range",
        "label": "",
        "tooltip": "",
        "group": "3cbd8d7478c9eeda",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4294967295",
        "step": 1,
        "className": "",
        "x": 1170,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "e156b5e4cbc10175",
        "type": "ui_text",
        "z": "0f850dc8977c3d53",
        "group": "3cbd8d7478c9eeda",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 720,
        "wires": []
    },
    {
        "id": "bd96b3a26930d745",
        "type": "ui_slider",
        "z": "0f850dc8977c3d53",
        "name": "Visual Range",
        "label": "",
        "tooltip": "",
        "group": "3cbd8d7478c9eeda",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4294967295",
        "step": 1,
        "className": "",
        "x": 1170,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "389cddf65b567f6c",
        "type": "ui_text",
        "z": "0f850dc8977c3d53",
        "group": "2a222bd2cefc5e56",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Counter:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 820,
        "wires": []
    },
    {
        "id": "f831ec124cb8bd9c",
        "type": "ui_slider",
        "z": "0f850dc8977c3d53",
        "name": "Visual Range",
        "label": "",
        "tooltip": "",
        "group": "2a222bd2cefc5e56",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4294967295",
        "step": 1,
        "className": "",
        "x": 1170,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "daf9f42376064533",
        "type": "ui_text",
        "z": "0f850dc8977c3d53",
        "group": "2a222bd2cefc5e56",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 920,
        "wires": []
    },
    {
        "id": "6e4ee5c485d1b40c",
        "type": "ui_slider",
        "z": "0f850dc8977c3d53",
        "name": "Visual Range",
        "label": "",
        "tooltip": "",
        "group": "2a222bd2cefc5e56",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4294967295",
        "step": 1,
        "className": "",
        "x": 1170,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "f86eca8254aa8d23",
        "type": "ui_text",
        "z": "0f850dc8977c3d53",
        "group": "410d9a432fa1ccca",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Counter:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 1020,
        "wires": []
    },
    {
        "id": "7770a9062a7723ff",
        "type": "ui_slider",
        "z": "0f850dc8977c3d53",
        "name": "Visual Range",
        "label": "",
        "tooltip": "",
        "group": "410d9a432fa1ccca",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4294967295",
        "step": 1,
        "className": "",
        "x": 1170,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "aa4ed5e336fef8d7",
        "type": "ui_text",
        "z": "0f850dc8977c3d53",
        "group": "410d9a432fa1ccca",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1160,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ea703f6596ea3600",
        "type": "ui_slider",
        "z": "0f850dc8977c3d53",
        "name": "Visual Range",
        "label": "",
        "tooltip": "",
        "group": "410d9a432fa1ccca",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4294967295",
        "step": 1,
        "className": "",
        "x": 1170,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "44246a0d41de2ad2",
        "type": "ui_chart",
        "z": "0f850dc8977c3d53",
        "name": "Battery History",
        "group": "081668d5caa482ea",
        "order": 2,
        "width": "16",
        "height": "3",
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Battery History",
        "dot": true,
        "ymin": "50",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1180,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "dd3b71441358631c",
        "type": "ui_gauge",
        "z": "0f850dc8977c3d53",
        "name": "",
        "group": "081668d5caa482ea",
        "order": 1,
        "width": "4",
        "height": "3",
        "gtype": "gage",
        "title": "Battery Percent",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "50",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 1220,
        "wires": []
    },
    {
        "id": "c3fb4cef8624ab84",
        "type": "change",
        "z": "0f850dc8977c3d53",
        "name": "input 1 counter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.digital_input_1_counter",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 240,
        "wires": [
            [
                "124c79cb5fe6b8e3",
                "09518b5a96e20b23"
            ]
        ]
    },
    {
        "id": "adb49915e675e3ec",
        "type": "change",
        "z": "0f850dc8977c3d53",
        "name": "input 1 uptime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.digital_input_1_uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 340,
        "wires": [
            [
                "2831c80ce8cbff02",
                "027017f107e12be7"
            ]
        ]
    },
    {
        "id": "7dff0921f46109c5",
        "type": "change",
        "z": "0f850dc8977c3d53",
        "name": "bettery percent",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(data.battery_percent)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1240,
        "wires": [
            [
                "dd3b71441358631c",
                "44246a0d41de2ad2"
            ]
        ]
    },
    {
        "id": "0f8e51ee879232e7",
        "type": "change",
        "z": "0f850dc8977c3d53",
        "name": "input 2 counter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.digital_input_2_counter",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 440,
        "wires": [
            [
                "20c78fca60f04bc2",
                "3ee30d322f444166"
            ]
        ]
    },
    {
        "id": "77093585a4919889",
        "type": "change",
        "z": "0f850dc8977c3d53",
        "name": "input 2 uptime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.digital_input_2_uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 540,
        "wires": [
            [
                "62733313fc1d4f9e",
                "bd11b72d90b4bf24"
            ]
        ]
    },
    {
        "id": "081eb1c91a85f165",
        "type": "change",
        "z": "0f850dc8977c3d53",
        "name": "input 3 counter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.digital_input_3_counter",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 640,
        "wires": [
            [
                "d9366eedf4db9ba2",
                "2643f6c0483ccb8e"
            ]
        ]
    },
    {
        "id": "88c5fe945b71653e",
        "type": "change",
        "z": "0f850dc8977c3d53",
        "name": "input 3 uptime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.digital_input_3_uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 740,
        "wires": [
            [
                "e156b5e4cbc10175",
                "bd96b3a26930d745"
            ]
        ]
    },
    {
        "id": "36fd8da90c18376a",
        "type": "change",
        "z": "0f850dc8977c3d53",
        "name": "acc counter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.accelerometer_counter",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 840,
        "wires": [
            [
                "389cddf65b567f6c",
                "f831ec124cb8bd9c"
            ]
        ]
    },
    {
        "id": "3564754e1e42a1f9",
        "type": "change",
        "z": "0f850dc8977c3d53",
        "name": "acc uptime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.accelerometer_uptime",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 940,
        "wires": [
            [
                "daf9f42376064533",
                "6e4ee5c485d1b40c"
            ]
        ]
    },
    {
        "id": "e0cf82f8c29e46d8",
        "type": "change",
        "z": "0f850dc8977c3d53",
        "name": "acc counter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.accelerometer_counter",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 1040,
        "wires": [
            [
                "f86eca8254aa8d23",
                "7770a9062a7723ff"
            ]
        ]
    },
    {
        "id": "cbb879b56b244f77",
        "type": "change",
        "z": "0f850dc8977c3d53",
        "name": "acc counter",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.accelerometer_counter",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 1140,
        "wires": [
            [
                "aa4ed5e336fef8d7",
                "ea703f6596ea3600"
            ]
        ]
    },
    {
        "id": "124c79cb5fe6b8e3",
        "type": "ui_text",
        "z": "0f850dc8977c3d53",
        "group": "4981bd2e04d76971",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Counter:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 1160,
        "y": 220,
        "wires": []
    },
    {
        "id": "027017f107e12be7",
        "type": "ui_slider",
        "z": "0f850dc8977c3d53",
        "name": "Visual Range",
        "label": "",
        "tooltip": "",
        "group": "4981bd2e04d76971",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4294967295",
        "step": "",
        "className": "",
        "x": 1170,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "09518b5a96e20b23",
        "type": "ui_slider",
        "z": "0f850dc8977c3d53",
        "name": "Visual Range",
        "label": "",
        "tooltip": "",
        "group": "4981bd2e04d76971",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4294967295",
        "step": "",
        "className": "",
        "x": 1170,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "82f311a9758bed41",
        "type": "ncd-wireless-node",
        "z": "0f850dc8977c3d53",
        "name": "",
        "connection": "3a158777559a1790",
        "config_comm": "3a158777559a1790",
        "addr": "",
        "sensor_type": "108",
        "auto_config": "",
        "on_the_fly_enable": "",
        "node_id_delay_active": "",
        "node_id": 0,
        "delay": 300,
        "form_network": "",
        "destination_active": "",
        "destination": "0000FFFF",
        "power_active": "",
        "power": 4,
        "retries_active": "",
        "retries": 10,
        "pan_id_active": "",
        "pan_id": "7FFF",
        "change_enabled": "",
        "change_pr": "0",
        "change_interval": "0",
        "cm_calibration": "60.6",
        "bp_altitude": "0",
        "bp_pressure": "0",
        "bp_temp_prec": "0",
        "bp_press_prec": "0",
        "amgt_accel": "0",
        "amgt_mag": "0",
        "amgt_gyro": "0",
        "impact_accel_active": "",
        "impact_accel": "0",
        "impact_data_rate_active": "",
        "impact_data_rate": "4",
        "impact_threshold_active": "",
        "impact_threshold": 25,
        "impact_duration_active": "",
        "impact_duration": 1,
        "activ_interr_x": 1,
        "activ_interr_y": 2,
        "activ_interr_z": 4,
        "activ_interr_op": 8,
        "force_calibration_co2_auto_config": "",
        "force_calibration_co2": 400,
        "force_calibration_co2_535_active": "",
        "temperature_offset_44_active": "",
        "temperature_offset_44": 4,
        "filtering": 0,
        "data_rate": 5,
        "time_series": 0,
        "reading_type": 1,
        "mode_80_active": "",
        "mode_80": 0,
        "periodic_check_rate_76_active": "",
        "periodic_check_rate_76": 60,
        "ppm_threshold_76_active": "",
        "ppm_threshold_76": 100,
        "alert_duration_76_active": "",
        "alert_duration_76": 0,
        "sensor_boot_time_76_active": "",
        "sensor_boot_time_76": 30,
        "measurement_mode_80_active": "",
        "measurement_mode_80": 0,
        "on_request_timeout_80_active": "",
        "on_request_timeout_80": 1,
        "sensor_boot_time_420ma_active": "",
        "sensor_boot_time_420ma": 0,
        "sensor_boot_time_78_active": "",
        "sensor_boot_time_78": 0,
        "deadband_80_active": "",
        "deadband_80": 0,
        "filter_80_active": "",
        "filter_80": 0,
        "output_data_rate_p1_81_active": "",
        "output_data_rate_p1_81": 0,
        "output_data_rate_p2_81_active": "",
        "output_data_rate_p2_81": 0,
        "sampling_duration_p1_81_active": "",
        "sampling_duration_p1_81": 0,
        "sampling_duration_p2_81_active": "",
        "sampling_duration_p2_81": 0,
        "led_alert_mode_84_active": "",
        "led_alert_mode_84": 0,
        "led_accelerometer_threshold_84_active": "",
        "led_accelerometer_threshold_84": "",
        "led_velocity_threshold_84_active": "",
        "led_velocity_threshold_84": "",
        "acceleration_interrupt_threshold_84_active": "",
        "acceleration_interrupt_threshold_84": "",
        "set_rtc_101": 0,
        "current_calibration_82": "",
        "current_calibration_82_active": false,
        "current_calibration_c1_80": 178,
        "current_calibration_c1_80_active": "",
        "current_calibration_c2_80": 178,
        "current_calibration_c2_80_active": "",
        "current_calibration_c3_80": 178,
        "current_calibration_c3_80_active": "",
        "output_data_rate_101_active": "",
        "output_data_rate_101": 0,
        "output_data_rate_101_m2_active": "",
        "output_data_rate_101_m2": 0,
        "sampling_duration_101_active": "",
        "sampling_duration_101": 1,
        "sampling_interval_101_active": "",
        "sampling_interval_101": 1,
        "full_scale_range_101_active": "",
        "full_scale_range_101": 1,
        "full_scale_range_101_m2_active": "",
        "full_scale_range_101_m2": 1,
        "x_axis_101": "",
        "y_axis_101": "",
        "z_axis_101": "",
        "low_pass_filter_80_active": "",
        "low_pass_filter_80": 0,
        "high_pass_filter_80_active": "",
        "high_pass_filter_80": 0,
        "low_pass_filter_81_p2_active": "",
        "low_pass_filter_81_p2": 0,
        "high_pass_filter_81_p2_active": "",
        "high_pass_filter_81_p2": 0,
        "roll_angle_threshold_47": 0,
        "roll_angle_threshold_47_active": "",
        "pitch_angle_threshold_47": 0,
        "pitch_angle_threshold_47_active": "",
        "accelerometer_state_108": 0,
        "accelerometer_state_108_active": "",
        "clear_all_counters_108": 0,
        "accelerometer_threshold_108": 10,
        "accelerometer_threshold_108_active": "",
        "debounce_time_108": 10,
        "debounce_time_108_active": "",
        "counter_threshold_35": 50,
        "counter_threshold_35_active": "",
        "payload_length_80_active": "",
        "payload_length_80": 3,
        "motion_threshold_46_active": "",
        "motion_threshold_46": 100,
        "low_calibration_420ma_active": "",
        "low_calibration_420ma": 68805,
        "mid_calibration_420ma_active": "",
        "mid_calibration_420ma": 68724,
        "high_calibration_420ma_active": "",
        "high_calibration_420ma": 68714,
        "thermocouple_type_23_active": "",
        "thermocouple_type_23": 0,
        "debounce_time_2_active": "",
        "debounce_time_2": 10,
        "stay_on_mode_539_active": "",
        "stay_on_mode_539": 0,
        "baudrate_539_active": "",
        "baudrate_539": 9600,
        "rx_timeout_539_active": "",
        "rx_timeout_539": 10,
        "bootup_time_539_active": "",
        "bootup_time_539": 10,
        "sensor_add_539_active": "",
        "sensor_add_539": 10,
        "sub_device_type_539_active": "",
        "sub_device_type_539": 10,
        "number_of_regs_to_rd_539_active": "",
        "number_of_regs_to_rd_539": 1,
        "register_value_0_539": 0,
        "register_value_1_539": 0,
        "register_value_2_539": 0,
        "register_value_3_539": 0,
        "register_value_4_539": 0,
        "register_value_5_539": 0,
        "register_value_6_539": 0,
        "register_value_7_539": 0,
        "register_value_8_539": 0,
        "register_value_9_539": 0,
        "mode_110_active": "",
        "mode_110": 0,
        "auto_raw_interval_110_active": "",
        "auto_raw_interval_110": 0,
        "auto_raw_destination_110_active": "",
        "auto_raw_destination_110": "0000FFFF",
        "clear_probe_uptimers_110_active": "",
        "clear_probe_uptimers_110": 0,
        "smart_interval_110_active": "",
        "smart_interval_110": 0,
        "smart_threshold_110_active": "",
        "smart_threshold_110": 0,
        "x": 480,
        "y": 680,
        "wires": [
            [
                "f81ecc76aa9f8641"
            ]
        ]
    },
    {
        "id": "f81ecc76aa9f8641",
        "type": "junction",
        "z": "0f850dc8977c3d53",
        "x": 780,
        "y": 680,
        "wires": [
            [
                "7dff0921f46109c5",
                "c3fb4cef8624ab84",
                "adb49915e675e3ec",
                "0f8e51ee879232e7",
                "77093585a4919889",
                "081eb1c91a85f165",
                "88c5fe945b71653e",
                "36fd8da90c18376a",
                "3564754e1e42a1f9",
                "e0cf82f8c29e46d8",
                "cbb879b56b244f77"
            ]
        ]
    },
    {
        "id": "4981bd2e04d76971",
        "type": "ui_group",
        "name": "Digital Input 1",
        "tab": "447f295105afdfbe",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "92ebb59583f24ffd",
        "type": "ui_group",
        "name": "Digital Input 2",
        "tab": "447f295105afdfbe",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3cbd8d7478c9eeda",
        "type": "ui_group",
        "name": "Digital Input 3",
        "tab": "447f295105afdfbe",
        "order": 3,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a222bd2cefc5e56",
        "type": "ui_group",
        "name": "Accelerometer",
        "tab": "447f295105afdfbe",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "410d9a432fa1ccca",
        "type": "ui_group",
        "name": "Magnetometer",
        "tab": "447f295105afdfbe",
        "order": 5,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "081668d5caa482ea",
        "type": "ui_group",
        "name": "Battery",
        "tab": "447f295105afdfbe",
        "order": 6,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a158777559a1790",
        "type": "ncd-gateway-config",
        "name": "",
        "comm_type": "serial",
        "ip_address": "",
        "tcp_port": "2101",
        "port": "/dev/ttymxc2",
        "baudRate": "115200",
        "pan_id": "7FFF",
        "rssi": false
    },
    {
        "id": "447f295105afdfbe",
        "type": "ui_tab",
        "name": "ncd.io",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
