examples/Type 108 - Machine Uptime Monitoring Sensor/Quick Start Dashboard.json
[
    {
        "id": "91019fdea52bec6d",
        "type": "subflow",
        "name": "Uptime-dashboard",
        "info": "",
        "category": "NCD",
        "in": [
            {
                "x": 100,
                "y": 540,
                "wires": [
                    {
                        "id": "cce08819dc096604"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "@flowfuse/node-red-dashboard/ui-gauge.svg",
        "status": {
            "x": 760,
            "y": 380,
            "wires": [
                {
                    "id": "7ce508476da5aad0",
                    "port": 0
                },
                {
                    "id": "7779232d2a371ba0",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "988fed6a17130659",
        "type": "ui-text",
        "z": "91019fdea52bec6d",
        "group": "8609a1e48c75ce36",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Digital Input Counter",
        "label": "Digital Input Counter",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "fb3edac1a58b7d77",
        "type": "ui-template",
        "z": "91019fdea52bec6d",
        "group": "8609a1e48c75ce36",
        "page": "",
        "ui": "",
        "name": "Digital Input Counter",
        "order": 2,
        "width": "2",
        "height": "2",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-numeric-1-box-outline\"></v-icon>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                Unit\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.gaugeVue{\n    font-size: 44px;\n    font-weight: bold !important;\n    top: -30px !important;\n    left: 25px !important;\n}\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "c18585dc01292d64",
        "type": "ui-text",
        "z": "91019fdea52bec6d",
        "group": "32b2ad82168f24cd",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Digital Input Uptime",
        "label": "Digital Input Uptime",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "57845d5029a92342",
        "type": "ui-template",
        "z": "91019fdea52bec6d",
        "group": "32b2ad82168f24cd",
        "page": "",
        "ui": "",
        "name": "Digital Input Uptime",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-clock\"></v-icon>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                Sec\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 770,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "daa0cf30a55507ac",
        "type": "ui-text",
        "z": "91019fdea52bec6d",
        "group": "67b2d76f3ef24026",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Current Input Counter",
        "label": "Current Input Counter",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1160,
        "y": 460,
        "wires": []
    },
    {
        "id": "8c8522b24bfc0d9c",
        "type": "ui-template",
        "z": "91019fdea52bec6d",
        "group": "67b2d76f3ef24026",
        "page": "",
        "ui": "",
        "name": "Current Input Counter",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-numeric-1-box-outline\"></v-icon>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                Unit\n            </div>\n        </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "be4aef208d423213",
        "type": "ui-text",
        "z": "91019fdea52bec6d",
        "group": "f005f662fb969c83",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Current Input Uptime",
        "label": "Current Input Uptime",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1160,
        "y": 540,
        "wires": []
    },
    {
        "id": "70e7eca1b74cb66c",
        "type": "ui-template",
        "z": "91019fdea52bec6d",
        "group": "f005f662fb969c83",
        "page": "",
        "ui": "",
        "name": "Current Input Uptime",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular bg-color=\"#383838\" class=\"gaugeVue\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-clock\"></v-icon>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                Sec\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "138aa2d80b2d110c",
        "type": "ui-text",
        "z": "91019fdea52bec6d",
        "group": "60dac27e40118e32",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Opto Input Counter",
        "label": "Opto Input Counter",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1530,
        "y": 460,
        "wires": []
    },
    {
        "id": "a1405b441adc9866",
        "type": "ui-template",
        "z": "91019fdea52bec6d",
        "group": "60dac27e40118e32",
        "page": "",
        "ui": "",
        "name": "Opto Input Counter",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-numeric-1-box-outline\"></v-icon>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                Unit\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1530,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "72d320051d10cb80",
        "type": "ui-text",
        "z": "91019fdea52bec6d",
        "group": "95f77d3e0aa56c6b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Opto Input Uptime",
        "label": "Opto Input Uptime",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1530,
        "y": 540,
        "wires": []
    },
    {
        "id": "4e0b8f39e5a5639a",
        "type": "ui-template",
        "z": "91019fdea52bec6d",
        "group": "95f77d3e0aa56c6b",
        "page": "",
        "ui": "",
        "name": "Opto Input Uptime",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-clock\"></v-icon>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                Sec\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1530,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "3ca130bb7f783218",
        "type": "ui-text",
        "z": "91019fdea52bec6d",
        "group": "4681a4bb8bbe4489",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Accelerometer Counter",
        "label": "Accelerometer Counter",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 750,
        "y": 640,
        "wires": []
    },
    {
        "id": "faf9f09fec8d45c8",
        "type": "ui-template",
        "z": "91019fdea52bec6d",
        "group": "4681a4bb8bbe4489",
        "page": "",
        "ui": "",
        "name": "Accelerometer Counter",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"yellow\" icon=\"mdi-pulse\"></v-icon>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                Unit\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 750,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "a80bcc07d3c69b58",
        "type": "ui-text",
        "z": "91019fdea52bec6d",
        "group": "91edaa31ad859b10",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Accelerometer Uptime",
        "label": "Accelerometer Uptime",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 760,
        "y": 720,
        "wires": []
    },
    {
        "id": "b8344cde21c96925",
        "type": "ui-template",
        "z": "91019fdea52bec6d",
        "group": "91edaa31ad859b10",
        "page": "",
        "ui": "",
        "name": "Accelerometer Uptime",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-clock\"></v-icon>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                Sec\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "5c60755a587a3952",
        "type": "ui-text",
        "z": "91019fdea52bec6d",
        "group": "47706f8387053152",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Magnetometer Counter",
        "label": "Magnetometer Counter",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1150,
        "y": 640,
        "wires": []
    },
    {
        "id": "8ee46b0e01c97388",
        "type": "ui-template",
        "z": "91019fdea52bec6d",
        "group": "47706f8387053152",
        "page": "",
        "ui": "",
        "name": "Magnetometer Counter",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-access-point\"></v-icon>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                Unit\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1150,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "5dda8c5929277f23",
        "type": "ui-text",
        "z": "91019fdea52bec6d",
        "group": "d8b2f44011c1256d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Magnetometer Uptimer",
        "label": "Magnetometer Uptimer",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1160,
        "y": 720,
        "wires": []
    },
    {
        "id": "214e7d186ebc2610",
        "type": "ui-template",
        "z": "91019fdea52bec6d",
        "group": "d8b2f44011c1256d",
        "page": "",
        "ui": "",
        "name": "Magnetometer Uptimer",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-clock\"></v-icon>\n                <br>\n            </div>\n            <div>\n                {{ msg.scale }}\n                <br>\n                Sec\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1160,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "328d57b5f63a8f5b",
        "type": "ui-text",
        "z": "91019fdea52bec6d",
        "group": "3ac226c433c7a219",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Level",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1550,
        "y": 640,
        "wires": []
    },
    {
        "id": "89a4b9f891500d97",
        "type": "ui-template",
        "z": "91019fdea52bec6d",
        "group": "3ac226c433c7a219",
        "page": "",
        "ui": "",
        "name": "batteryGauge",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"smaller\" color=\"yellow\" icon=\"mdi-battery-charging-60\"></v-icon>\n                <br>\n            </div>\n            <div>\n                {{ msg.payload.toFixed(2)}}\n                <br>\n                %\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1540,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "260d113d14b38bae",
        "type": "ui-chart",
        "z": "91019fdea52bec6d",
        "group": "b4d7507c9ab02da8",
        "name": "Battery Percent History",
        "label": "",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "ymin": "",
        "ymax": "",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": "2",
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "30",
        "colors": [
            "#fbff00",
            "#eeff00",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "8",
        "height": "5",
        "className": "chartStyle",
        "x": 1510,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "a856dd4f4b77df25",
        "type": "change",
        "z": "91019fdea52bec6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.accelerometer_counter",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 555,
        "y": 680,
        "wires": [
            [
                "d0200ef75f26033f"
            ]
        ],
        "l": false
    },
    {
        "id": "989c92875faac4d8",
        "type": "link in",
        "z": "91019fdea52bec6d",
        "name": "link in 1",
        "links": [
            "308f73c16a0cf14c"
        ],
        "x": 505,
        "y": 680,
        "wires": [
            [
                "a856dd4f4b77df25"
            ]
        ]
    },
    {
        "id": "d0200ef75f26033f",
        "type": "range",
        "z": "91019fdea52bec6d",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 605,
        "y": 680,
        "wires": [
            [
                "faf9f09fec8d45c8"
            ]
        ],
        "l": false
    },
    {
        "id": "61f6cbacc16f8ce3",
        "type": "ui-text",
        "z": "91019fdea52bec6d",
        "group": "b4d7507c9ab02da8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Level History",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "19",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1520,
        "y": 720,
        "wires": []
    },
    {
        "id": "695b37c78034e706",
        "type": "change",
        "z": "91019fdea52bec6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.accelerometer_uptime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 565,
        "y": 760,
        "wires": [
            [
                "59d7c96c35a1d71a"
            ]
        ],
        "l": false
    },
    {
        "id": "1a052fce7f5c5cb8",
        "type": "link in",
        "z": "91019fdea52bec6d",
        "name": "link in 6",
        "links": [
            "308f73c16a0cf14c"
        ],
        "x": 505,
        "y": 760,
        "wires": [
            [
                "695b37c78034e706"
            ]
        ]
    },
    {
        "id": "59d7c96c35a1d71a",
        "type": "range",
        "z": "91019fdea52bec6d",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 615,
        "y": 760,
        "wires": [
            [
                "b8344cde21c96925"
            ]
        ],
        "l": false
    },
    {
        "id": "2f35f32f512ef87c",
        "type": "change",
        "z": "91019fdea52bec6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.digital_input_counter",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 565,
        "y": 500,
        "wires": [
            [
                "bc47bdc0fd826b69"
            ]
        ],
        "l": false
    },
    {
        "id": "007c87ab2cd22d3f",
        "type": "link in",
        "z": "91019fdea52bec6d",
        "name": "link in 7",
        "links": [
            "308f73c16a0cf14c"
        ],
        "x": 515,
        "y": 500,
        "wires": [
            [
                "2f35f32f512ef87c"
            ]
        ]
    },
    {
        "id": "bc47bdc0fd826b69",
        "type": "range",
        "z": "91019fdea52bec6d",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 615,
        "y": 500,
        "wires": [
            [
                "fb3edac1a58b7d77"
            ]
        ],
        "l": false
    },
    {
        "id": "9a1315d3b2e2a918",
        "type": "change",
        "z": "91019fdea52bec6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.digital_input_uptime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 565,
        "y": 580,
        "wires": [
            [
                "0bd47f67d44a0c88"
            ]
        ],
        "l": false
    },
    {
        "id": "77118f5f108dff10",
        "type": "link in",
        "z": "91019fdea52bec6d",
        "name": "link in 8",
        "links": [
            "308f73c16a0cf14c"
        ],
        "x": 515,
        "y": 580,
        "wires": [
            [
                "9a1315d3b2e2a918"
            ]
        ]
    },
    {
        "id": "0bd47f67d44a0c88",
        "type": "range",
        "z": "91019fdea52bec6d",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 615,
        "y": 580,
        "wires": [
            [
                "57845d5029a92342"
            ]
        ],
        "l": false
    },
    {
        "id": "6df55ace9eaa6360",
        "type": "change",
        "z": "91019fdea52bec6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.magnetometer_counter",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 955,
        "y": 680,
        "wires": [
            [
                "e509ca3426612ca6"
            ]
        ],
        "l": false
    },
    {
        "id": "fc49d75c859b3437",
        "type": "link in",
        "z": "91019fdea52bec6d",
        "name": "link in 9",
        "links": [
            "308f73c16a0cf14c"
        ],
        "x": 905,
        "y": 680,
        "wires": [
            [
                "6df55ace9eaa6360"
            ]
        ]
    },
    {
        "id": "e509ca3426612ca6",
        "type": "range",
        "z": "91019fdea52bec6d",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1005,
        "y": 680,
        "wires": [
            [
                "8ee46b0e01c97388"
            ]
        ],
        "l": false
    },
    {
        "id": "c4dab9f32a78a045",
        "type": "change",
        "z": "91019fdea52bec6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.magnetometer_uptime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 955,
        "y": 760,
        "wires": [
            [
                "a67b11a9cb66e3ef"
            ]
        ],
        "l": false
    },
    {
        "id": "10ebd2c6f0d80674",
        "type": "link in",
        "z": "91019fdea52bec6d",
        "name": "link in 10",
        "links": [
            "308f73c16a0cf14c"
        ],
        "x": 905,
        "y": 760,
        "wires": [
            [
                "c4dab9f32a78a045"
            ]
        ]
    },
    {
        "id": "a67b11a9cb66e3ef",
        "type": "range",
        "z": "91019fdea52bec6d",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "65535",
        "x": 1005,
        "y": 760,
        "wires": [
            [
                "214e7d186ebc2610"
            ]
        ],
        "l": false
    },
    {
        "id": "4b74eed5480b8abe",
        "type": "change",
        "z": "91019fdea52bec6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data.battery_percent",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1415,
        "y": 680,
        "wires": [
            [
                "89a4b9f891500d97",
                "260d113d14b38bae"
            ]
        ],
        "l": false
    },
    {
        "id": "b5a20e37b9ae4548",
        "type": "link in",
        "z": "91019fdea52bec6d",
        "name": "link in 12",
        "links": [
            "308f73c16a0cf14c"
        ],
        "x": 1365,
        "y": 680,
        "wires": [
            [
                "4b74eed5480b8abe"
            ]
        ]
    },
    {
        "id": "9adcf07ac2150c20",
        "type": "change",
        "z": "91019fdea52bec6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ct_input_counter",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 955,
        "y": 500,
        "wires": [
            [
                "29ee8b91df98beeb"
            ]
        ],
        "l": false
    },
    {
        "id": "1f5b131dbb72f1ee",
        "type": "link in",
        "z": "91019fdea52bec6d",
        "name": "link in 13",
        "links": [
            "308f73c16a0cf14c"
        ],
        "x": 905,
        "y": 500,
        "wires": [
            [
                "9adcf07ac2150c20"
            ]
        ]
    },
    {
        "id": "29ee8b91df98beeb",
        "type": "range",
        "z": "91019fdea52bec6d",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1005,
        "y": 500,
        "wires": [
            [
                "8c8522b24bfc0d9c"
            ]
        ],
        "l": false
    },
    {
        "id": "d1d071c7a7c017e2",
        "type": "change",
        "z": "91019fdea52bec6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ct_input_uptime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 955,
        "y": 580,
        "wires": [
            [
                "25b9a44279b5c460"
            ]
        ],
        "l": false
    },
    {
        "id": "52b1a116a4859b7c",
        "type": "link in",
        "z": "91019fdea52bec6d",
        "name": "link in 14",
        "links": [
            "308f73c16a0cf14c"
        ],
        "x": 905,
        "y": 580,
        "wires": [
            [
                "d1d071c7a7c017e2"
            ]
        ]
    },
    {
        "id": "25b9a44279b5c460",
        "type": "range",
        "z": "91019fdea52bec6d",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1005,
        "y": 580,
        "wires": [
            [
                "70e7eca1b74cb66c"
            ]
        ],
        "l": false
    },
    {
        "id": "b222865d878d8a1d",
        "type": "change",
        "z": "91019fdea52bec6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.opto_input_counter",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1345,
        "y": 500,
        "wires": [
            [
                "49495da135227c72"
            ]
        ],
        "l": false
    },
    {
        "id": "b071544e037b586f",
        "type": "link in",
        "z": "91019fdea52bec6d",
        "name": "link in 15",
        "links": [
            "308f73c16a0cf14c"
        ],
        "x": 1295,
        "y": 500,
        "wires": [
            [
                "b222865d878d8a1d"
            ]
        ]
    },
    {
        "id": "49495da135227c72",
        "type": "range",
        "z": "91019fdea52bec6d",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1395,
        "y": 500,
        "wires": [
            [
                "a1405b441adc9866"
            ]
        ],
        "l": false
    },
    {
        "id": "8c4f1d139bec77f3",
        "type": "change",
        "z": "91019fdea52bec6d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.accelerometer_uptime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1345,
        "y": 580,
        "wires": [
            [
                "03ab071b8dad9d4a"
            ]
        ],
        "l": false
    },
    {
        "id": "1c0b6b36200ec1b3",
        "type": "link in",
        "z": "91019fdea52bec6d",
        "name": "link in 16",
        "links": [
            "308f73c16a0cf14c"
        ],
        "x": 1295,
        "y": 580,
        "wires": [
            [
                "8c4f1d139bec77f3"
            ]
        ]
    },
    {
        "id": "03ab071b8dad9d4a",
        "type": "range",
        "z": "91019fdea52bec6d",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1395,
        "y": 580,
        "wires": [
            [
                "4e0b8f39e5a5639a"
            ]
        ],
        "l": false
    },
    {
        "id": "96a13b5bdd2dba6e",
        "type": "ui-template",
        "z": "91019fdea52bec6d",
        "g": "6c77e80257b608a8",
        "group": "",
        "page": "8e65fed866f8517d",
        "ui": "",
        "name": "Style",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".v-main {\n    background-color:#141316;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n}\n.bg-group-background{\n    background-color: #1f2027 !important;\n    border-color: #1f2027 !important;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: rgb(5, 5, 5, 141) !important;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: rgba(4, 4, 4, 0.653) !important;\n}\n.textStyle\n{\n    top: -15px;\n    position: relative;\n    width: 280px !important;\n    font-weight: bold !important;  \n}\n.chartStyle{\n    position: relative;\n    top: -40px;\n}\n.mainGroups {\n    width: 355px !important; /*315*/\n}\n.nrdb-ui-group .v-card {\n    height: 322px;\n}\n",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 1530,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1a1ef5eec965761f",
        "type": "ui-template",
        "z": "91019fdea52bec6d",
        "g": "6c77e80257b608a8",
        "group": "",
        "page": "8e65fed866f8517d",
        "ui": "",
        "name": "Logo",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"logo2\">\n        <v-chip label size=\"x-large\" :width=\"144\" color=\"white\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.logo2 {\n    transform: rotate(0deg);\n    width: 130px;\n    position: fixed;\n    top: 13px;\n    left: 12px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 1410,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "308f73c16a0cf14c",
        "type": "link out",
        "z": "91019fdea52bec6d",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "1c0b6b36200ec1b3",
            "fc49d75c859b3437",
            "07780ff6c81baaed",
            "10ebd2c6f0d80674",
            "007c87ab2cd22d3f",
            "b5a20e37b9ae4548",
            "52b1a116a4859b7c",
            "d231be53f572645c",
            "989c92875faac4d8",
            "1f5b131dbb72f1ee",
            "77118f5f108dff10",
            "b071544e037b586f",
            "1a052fce7f5c5cb8",
            "a35c13575a932d7e",
            "c8a3c7ecd90c290c",
            "52c5f2bfb69f6948"
        ],
        "x": 435,
        "y": 520,
        "wires": []
    },
    {
        "id": "7ce508476da5aad0",
        "type": "function",
        "z": "91019fdea52bec6d",
        "name": "readyStatus",
        "func": "msg = {\n    \"status\": {\n        \"fill\": \"green\",\n        \"shape\": \"dot\",\n        \"text\": \"ready\"\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d231be53f572645c",
        "type": "link in",
        "z": "91019fdea52bec6d",
        "name": "link in 18",
        "links": [
            "308f73c16a0cf14c"
        ],
        "x": 495,
        "y": 400,
        "wires": [
            [
                "7ce508476da5aad0"
            ]
        ]
    },
    {
        "id": "cce08819dc096604",
        "type": "switch",
        "z": "91019fdea52bec6d",
        "name": "filterData",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sensor_data",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 200,
        "y": 540,
        "wires": [
            [
                "78e439de3ff076e2"
            ]
        ]
    },
    {
        "id": "78e439de3ff076e2",
        "type": "switch",
        "z": "91019fdea52bec6d",
        "name": "filterType",
        "property": "data.sensor_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "108",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 540,
        "wires": [
            [
                "308f73c16a0cf14c"
            ],
            [
                "31e9a33a97b40dd9"
            ]
        ]
    },
    {
        "id": "7779232d2a371ba0",
        "type": "function",
        "z": "91019fdea52bec6d",
        "name": "errorTypeStatus",
        "func": "msg = {\n    \"status\": {\n        \"fill\": \"red\",\n        \"shape\": \"dot\",\n        \"text\": \"Error Type\"\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a13a161bc03d9294",
        "type": "link in",
        "z": "91019fdea52bec6d",
        "name": "link in 19",
        "links": [
            "31e9a33a97b40dd9"
        ],
        "x": 495,
        "y": 360,
        "wires": [
            [
                "7779232d2a371ba0"
            ]
        ]
    },
    {
        "id": "31e9a33a97b40dd9",
        "type": "link out",
        "z": "91019fdea52bec6d",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "a13a161bc03d9294"
        ],
        "x": 435,
        "y": 560,
        "wires": []
    },
    {
        "id": "6c77e80257b608a8",
        "type": "group",
        "z": "91019fdea52bec6d",
        "name": "STYLE",
        "style": {
            "stroke": "#999999",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "color": "#a4a4a4"
        },
        "nodes": [
            "96a13b5bdd2dba6e",
            "1a1ef5eec965761f"
        ],
        "x": 1334,
        "y": 339,
        "w": 272,
        "h": 82
    },
    {
        "id": "8609a1e48c75ce36",
        "type": "ui-group",
        "name": "dinCountGroup",
        "page": "8e65fed866f8517d",
        "width": "2",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "32b2ad82168f24cd",
        "type": "ui-group",
        "name": "dinUptimeGroup",
        "page": "8e65fed866f8517d",
        "width": "2",
        "height": "1",
        "order": 6,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "67b2d76f3ef24026",
        "type": "ui-group",
        "name": "ctInCountGroup",
        "page": "8e65fed866f8517d",
        "width": "2",
        "height": "1",
        "order": 2,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "f005f662fb969c83",
        "type": "ui-group",
        "name": "ctInUptimeGroup",
        "page": "8e65fed866f8517d",
        "width": "2",
        "height": "1",
        "order": 7,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "60dac27e40118e32",
        "type": "ui-group",
        "name": "optoInCountGroup",
        "page": "8e65fed866f8517d",
        "width": "2",
        "height": "1",
        "order": 3,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "95f77d3e0aa56c6b",
        "type": "ui-group",
        "name": "optoInUptimeGroup",
        "page": "8e65fed866f8517d",
        "width": "2",
        "height": "1",
        "order": 8,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4681a4bb8bbe4489",
        "type": "ui-group",
        "name": "accInCountGroup",
        "page": "8e65fed866f8517d",
        "width": "2",
        "height": "1",
        "order": 4,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "91edaa31ad859b10",
        "type": "ui-group",
        "name": "accInUptimeGroup",
        "page": "8e65fed866f8517d",
        "width": "2",
        "height": "1",
        "order": 9,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "47706f8387053152",
        "type": "ui-group",
        "name": "magInCountGroup",
        "page": "8e65fed866f8517d",
        "width": "4",
        "height": "1",
        "order": 5,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d8b2f44011c1256d",
        "type": "ui-group",
        "name": "magInUptimeGroup",
        "page": "8e65fed866f8517d",
        "width": "4",
        "height": "1",
        "order": 10,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3ac226c433c7a219",
        "type": "ui-group",
        "name": "batteryGaugeGroup",
        "page": "8e65fed866f8517d",
        "width": "2",
        "height": "1",
        "order": 12,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b4d7507c9ab02da8",
        "type": "ui-group",
        "name": "Battery Level History",
        "page": "8e65fed866f8517d",
        "width": "8",
        "height": "1",
        "order": 11,
        "showTitle": false,
        "className": "batteryGroup",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8e65fed866f8517d",
        "type": "ui-page",
        "name": "uptime-dashboard",
        "ui": "ec459411017ddf37",
        "path": "/uptime1",
        "icon": "home",
        "layout": "grid",
        "theme": "b5f491106ed516b4",
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ec459411017ddf37",
        "type": "ui-base",
        "name": "ncd-ui-base",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default"
    },
    {
        "id": "b5f491106ed516b4",
        "type": "ui-theme",
        "name": "ncdTheme",
        "colors": {
            "surface": "#0099cc",
            "primary": "#0931fb",
            "bgPage": "#000000",
            "groupBg": "#191a1a",
            "groupOutline": "#313030"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "6px",
            "groupBorderRadius": "8px",
            "widgetGap": "10px"
        }
    },
    {
        "id": "0f850dc8977c3d53",
        "type": "tab",
        "label": "108 QS Example Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "191e22cc37bd85af",
        "type": "subflow:91019fdea52bec6d",
        "z": "0f850dc8977c3d53",
        "name": "",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "3109bd3980631ac3",
        "type": "ncd-gateway-node",
        "z": "0f850dc8977c3d53",
        "name": "",
        "connection": "3a158777559a1790",
        "unknown_devices": 0,
        "outputs": 1,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "191e22cc37bd85af"
            ]
        ]
    },
    {
        "id": "3a158777559a1790",
        "type": "ncd-gateway-config",
        "name": "",
        "comm_type": "serial",
        "ip_address": "",
        "tcp_port": "2101",
        "port": "/dev/ttymxc2",
        "baudRate": "115200",
        "pan_id": "7FFF",
        "rssi": false
    }
]
