examples/Type 108 - Machine Uptime Monitoring Sensor/Quick Start Dashboard.json
[
    {
        "id": "6af5d35f8af16f9f",
        "type": "subflow",
        "name": "Uptime-dashboard",
        "info": "",
        "category": "NCD",
        "in": [
            {
                "x": 120,
                "y": 580,
                "wires": [
                    {
                        "id": "0d96e2fb91524ab7"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "icon": "@flowfuse/node-red-dashboard/ui-gauge.svg",
        "status": {
            "x": 820,
            "y": 380,
            "wires": [
                {
                    "id": "5442a27ce3b22075",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "0dbd8cdac68f3b94",
        "type": "ui-text",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "a1614549c408f643",
        "order": 1,
        "width": "2",
        "height": 0,
        "name": "Digital Input Counter",
        "label": "Contact Closure Counter",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 800,
        "y": 460,
        "wires": []
    },
    {
        "id": "4bf29016c44d1fc8",
        "type": "ui-template",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "a1614549c408f643",
        "page": "",
        "ui": "",
        "name": "Digital Input Counter",
        "order": 2,
        "width": "2",
        "height": "2",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-electric-switch\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Unit\n            </div>\n    </v-progress-circular>\n</template>\n<style>\n.gaugeVue{\n    font-size: 44px;\n    font-weight: bold !important;\n    top: -30px !important;\n    left: 25px !important;\n}\n.icon{\n    position: absolute;\n    top: 40px;\n    left: 43%;\n}\n.unit{\n    position: absolute;\n    top: 190px;\n    left: 40%;\n    font-size: 30px;\n}\n</style>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "5620868c18230265",
        "type": "ui-text",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "bb34489cec40b987",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Digital Input Uptime",
        "label": "Contact Closure Uptime",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "3126bad7f3b39d9c",
        "type": "ui-template",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "bb34489cec40b987",
        "page": "",
        "ui": "",
        "name": "Digital Input Uptime",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-clock\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Sec\n            </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "453bd967e89403a4",
        "type": "ui-text",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "061122425c5dc0ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Current Input Counter",
        "label": "Current Input Counter",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1200,
        "y": 460,
        "wires": []
    },
    {
        "id": "7752e7d623f58741",
        "type": "ui-template",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "061122425c5dc0ba",
        "page": "",
        "ui": "",
        "name": "Current Input Counter",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi mdi-sine-wave\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Unit\n            </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1200,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a0bc12baef062058",
        "type": "ui-text",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "061c5d801d70f8e9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Current Input Uptime",
        "label": "Current Input Uptime",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1200,
        "y": 540,
        "wires": []
    },
    {
        "id": "2c2a81bd09fd0513",
        "type": "ui-template",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "061c5d801d70f8e9",
        "page": "",
        "ui": "",
        "name": "Current Input Uptime",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular bg-color=\"#383838\" class=\"gaugeVue\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-clock\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Sec\n            </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1200,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "0e90a1b56864e939",
        "type": "ui-text",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "e97e0ee50456d11d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Opto Input Counter",
        "label": "Digital Input Counter",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1570,
        "y": 460,
        "wires": []
    },
    {
        "id": "be2555b50df4c07e",
        "type": "ui-template",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "e97e0ee50456d11d",
        "page": "",
        "ui": "",
        "name": "Opto Input Counter",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi mdi-square-wave\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Unit\n            </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1570,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "6f6dde7348854ef6",
        "type": "ui-text",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "fbe59b88eea649ee",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Opto Input Uptime",
        "label": "Digital Input Uptime",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1570,
        "y": 540,
        "wires": []
    },
    {
        "id": "9ff2072cd0fb2313",
        "type": "ui-template",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "fbe59b88eea649ee",
        "page": "",
        "ui": "",
        "name": "Opto Input Uptime",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-clock\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Sec\n            </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1570,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b181f50335ad845e",
        "type": "ui-text",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "03fa99e0c2b17b14",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Accelerometer Counter",
        "label": "Accelerometer Counter",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "2cc77291b162787a",
        "type": "ui-template",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "03fa99e0c2b17b14",
        "page": "",
        "ui": "",
        "name": "Accelerometer Counter",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi mdi-waveform\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Unit\n            </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "90d910e0f9e22bcd",
        "type": "ui-text",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "9da508f4b638785d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Accelerometer Uptime",
        "label": "Accelerometer Uptime",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 820,
        "y": 720,
        "wires": []
    },
    {
        "id": "af4eaf3eeb57c204",
        "type": "ui-template",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "9da508f4b638785d",
        "page": "",
        "ui": "",
        "name": "Accelerometer Uptime",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-clock\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Sec\n            </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 820,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "96131db36375a9b7",
        "type": "ui-text",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "c5b43765ca326def",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Magnetometer Counter",
        "label": "Magnetometer Counter",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1210,
        "y": 640,
        "wires": []
    },
    {
        "id": "6eea40e8b22a3ac6",
        "type": "ui-template",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "c5b43765ca326def",
        "page": "",
        "ui": "",
        "name": "Magnetometer Counter",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n           <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-access-point\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Unit\n            </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1210,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "d16a496eaf075b8a",
        "type": "ui-text",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "4434273855505cac",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Magnetometer Uptimer",
        "label": "Magnetometer Uptimer",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1220,
        "y": 720,
        "wires": []
    },
    {
        "id": "801794203810d583",
        "type": "ui-template",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "4434273855505cac",
        "page": "",
        "ui": "",
        "name": "Magnetometer Uptimer",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-clock\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.scale }}\n            </div>\n            <div class=\"unit\">\n                Sec\n            </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1220,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "7e64924383193d38",
        "type": "ui-text",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "0bd2c4243f30c5d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Level",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": true,
        "font": "",
        "fontSize": "23",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1590,
        "y": 640,
        "wires": []
    },
    {
        "id": "d10e6d07c4588a15",
        "type": "ui-chart",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "b3e0efe3e78c4e09",
        "name": "Battery Percent History",
        "label": "",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "yAxisLabel": "",
        "yAxisProperty": "",
        "ymin": "30",
        "ymax": "100",
        "action": "append",
        "pointShape": "circle",
        "pointRadius": "2",
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "30",
        "colors": [
            "#fbff00",
            "#eeff00",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "8",
        "height": "5",
        "className": "chartStyle",
        "x": 1550,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "c12461b654b1dc6a",
        "type": "change",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensor_data.accelerometer_counter",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 615,
        "y": 680,
        "wires": [
            [
                "faa0c1e9296ab0e4"
            ]
        ],
        "l": false
    },
    {
        "id": "9a7b607f171abea9",
        "type": "link in",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "link in 1",
        "links": [
            "e7b2f6ad5889ffc5"
        ],
        "x": 565,
        "y": 680,
        "wires": [
            [
                "c12461b654b1dc6a"
            ]
        ]
    },
    {
        "id": "faa0c1e9296ab0e4",
        "type": "range",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 665,
        "y": 680,
        "wires": [
            [
                "2cc77291b162787a"
            ]
        ],
        "l": false
    },
    {
        "id": "7ade61767da6c631",
        "type": "ui-text",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "b3e0efe3e78c4e09",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Battery Level History",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": "19",
        "color": "#ffffff",
        "className": "textStyle",
        "x": 1560,
        "y": 720,
        "wires": []
    },
    {
        "id": "49e57135fa0f12c3",
        "type": "change",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensor_data.accelerometer_uptime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 625,
        "y": 760,
        "wires": [
            [
                "4f58392591eba5a4"
            ]
        ],
        "l": false
    },
    {
        "id": "b0d1d3c625c1b326",
        "type": "link in",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "link in 6",
        "links": [
            "e7b2f6ad5889ffc5"
        ],
        "x": 565,
        "y": 760,
        "wires": [
            [
                "49e57135fa0f12c3"
            ]
        ]
    },
    {
        "id": "4f58392591eba5a4",
        "type": "range",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 675,
        "y": 760,
        "wires": [
            [
                "af4eaf3eeb57c204"
            ]
        ],
        "l": false
    },
    {
        "id": "b1cfde20e26f252e",
        "type": "change",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensor_data.digital_input_counter",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 615,
        "y": 500,
        "wires": [
            [
                "d1dde2c558966312"
            ]
        ],
        "l": false
    },
    {
        "id": "4e076702f7aea5b4",
        "type": "link in",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "link in 7",
        "links": [
            "e7b2f6ad5889ffc5"
        ],
        "x": 565,
        "y": 500,
        "wires": [
            [
                "b1cfde20e26f252e"
            ]
        ]
    },
    {
        "id": "d1dde2c558966312",
        "type": "range",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 665,
        "y": 500,
        "wires": [
            [
                "4bf29016c44d1fc8"
            ]
        ],
        "l": false
    },
    {
        "id": "3a29ded820401139",
        "type": "change",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensor_data.digital_input_uptime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 615,
        "y": 580,
        "wires": [
            [
                "9a918c17c342279d"
            ]
        ],
        "l": false
    },
    {
        "id": "adeeb8467bc3ca8c",
        "type": "link in",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "link in 8",
        "links": [
            "e7b2f6ad5889ffc5"
        ],
        "x": 565,
        "y": 580,
        "wires": [
            [
                "3a29ded820401139"
            ]
        ]
    },
    {
        "id": "9a918c17c342279d",
        "type": "range",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 665,
        "y": 580,
        "wires": [
            [
                "3126bad7f3b39d9c"
            ]
        ],
        "l": false
    },
    {
        "id": "f3945bc1b91ed67c",
        "type": "change",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensor_data.magnetometer_counter",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1015,
        "y": 680,
        "wires": [
            [
                "83dff13f781c8d76"
            ]
        ],
        "l": false
    },
    {
        "id": "759a7c531c0a0697",
        "type": "link in",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "link in 9",
        "links": [
            "e7b2f6ad5889ffc5"
        ],
        "x": 965,
        "y": 680,
        "wires": [
            [
                "f3945bc1b91ed67c"
            ]
        ]
    },
    {
        "id": "83dff13f781c8d76",
        "type": "range",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1065,
        "y": 680,
        "wires": [
            [
                "6eea40e8b22a3ac6"
            ]
        ],
        "l": false
    },
    {
        "id": "7a065adbec7e7123",
        "type": "change",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensor_data.magnetometer_uptime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1015,
        "y": 760,
        "wires": [
            [
                "b5a6f97e44a8f737"
            ]
        ],
        "l": false
    },
    {
        "id": "0cedab15bf537316",
        "type": "link in",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "link in 10",
        "links": [
            "e7b2f6ad5889ffc5"
        ],
        "x": 965,
        "y": 760,
        "wires": [
            [
                "7a065adbec7e7123"
            ]
        ]
    },
    {
        "id": "b5a6f97e44a8f737",
        "type": "range",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "65535",
        "x": 1065,
        "y": 760,
        "wires": [
            [
                "801794203810d583"
            ]
        ],
        "l": false
    },
    {
        "id": "e4f9ec6d20adfc32",
        "type": "change",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.battery_percent",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1455,
        "y": 680,
        "wires": [
            [
                "d10e6d07c4588a15",
                "750f2e6132424c97"
            ]
        ],
        "l": false
    },
    {
        "id": "12bbfca88d3c4a99",
        "type": "link in",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "link in 12",
        "links": [
            "e7b2f6ad5889ffc5"
        ],
        "x": 1405,
        "y": 680,
        "wires": [
            [
                "e4f9ec6d20adfc32"
            ]
        ]
    },
    {
        "id": "1479b2f738fa4f08",
        "type": "change",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensor_data.ct_input_counter",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 995,
        "y": 500,
        "wires": [
            [
                "7521e7bc7d60dc7f"
            ]
        ],
        "l": false
    },
    {
        "id": "18bf5de41cf91148",
        "type": "link in",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "link in 13",
        "links": [
            "e7b2f6ad5889ffc5"
        ],
        "x": 945,
        "y": 500,
        "wires": [
            [
                "1479b2f738fa4f08"
            ]
        ]
    },
    {
        "id": "7521e7bc7d60dc7f",
        "type": "range",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1045,
        "y": 500,
        "wires": [
            [
                "7752e7d623f58741"
            ]
        ],
        "l": false
    },
    {
        "id": "fd5a25c48281654f",
        "type": "change",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensor_data.ct_input_uptime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 995,
        "y": 580,
        "wires": [
            [
                "fdb13f75496b2355"
            ]
        ],
        "l": false
    },
    {
        "id": "3b83fe1fc8f978b7",
        "type": "link in",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "link in 14",
        "links": [
            "e7b2f6ad5889ffc5"
        ],
        "x": 945,
        "y": 580,
        "wires": [
            [
                "fd5a25c48281654f"
            ]
        ]
    },
    {
        "id": "fdb13f75496b2355",
        "type": "range",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1045,
        "y": 580,
        "wires": [
            [
                "2c2a81bd09fd0513"
            ]
        ],
        "l": false
    },
    {
        "id": "1e1c9c8139945fe8",
        "type": "change",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensor_data.opto_input_counter",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1385,
        "y": 500,
        "wires": [
            [
                "cd84d3ed578c8c32"
            ]
        ],
        "l": false
    },
    {
        "id": "2635b66c0c38bcb5",
        "type": "link in",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "link in 15",
        "links": [
            "e7b2f6ad5889ffc5"
        ],
        "x": 1335,
        "y": 500,
        "wires": [
            [
                "1e1c9c8139945fe8"
            ]
        ]
    },
    {
        "id": "cd84d3ed578c8c32",
        "type": "range",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1435,
        "y": 500,
        "wires": [
            [
                "be2555b50df4c07e"
            ]
        ],
        "l": false
    },
    {
        "id": "1c9f89eefedc03a0",
        "type": "change",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sensor_data.opto_input_uptime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "scale",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1385,
        "y": 580,
        "wires": [
            [
                "e5481809417bf07e"
            ]
        ],
        "l": false
    },
    {
        "id": "d94679c4df212c3e",
        "type": "link in",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "name": "link in 16",
        "links": [
            "e7b2f6ad5889ffc5"
        ],
        "x": 1335,
        "y": 580,
        "wires": [
            [
                "1c9f89eefedc03a0"
            ]
        ]
    },
    {
        "id": "e5481809417bf07e",
        "type": "range",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "minin": "0",
        "maxin": "4294967295",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 1435,
        "y": 580,
        "wires": [
            [
                "9ff2072cd0fb2313"
            ]
        ],
        "l": false
    },
    {
        "id": "882350dd13aaef44",
        "type": "ui-template",
        "z": "6af5d35f8af16f9f",
        "g": "f769eb10ed6e4e8e",
        "group": "",
        "page": "9c7c0c028d2ab7f2",
        "ui": "",
        "name": "Style",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".v-main {\n    background-color:#141316;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n}\n.bg-group-background{\n    border-radius: 30px !important;\n    background-color: #1f2027 !important;\n    border-color: #1f2027 !important;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: rgb(5, 5, 5, 141) !important;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: rgba(4, 4, 4, 0.653) !important;\n}\n.textStyle\n{\n    top: -15px;\n    left: 20px;\n    position: relative;\n    width: 280px !important;\n    font-weight: bold !important;  \n}\n.chartStyle{\n    position: relative;\n    top: -40px;\n}\n.mainGroups {\n    width: 355px !important;\n}\n.nrdb-ui-group .v-card {\n    height: 322px;\n}\n",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 1610,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6679aa49def8787a",
        "type": "ui-template",
        "z": "6af5d35f8af16f9f",
        "g": "f769eb10ed6e4e8e",
        "group": "",
        "page": "9c7c0c028d2ab7f2",
        "ui": "",
        "name": "Logo",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"logo2\">\n        <v-chip label size=\"x-large\" :width=\"144\" color=\"white\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.logo2 {\n    transform: rotate(0deg);\n    width: 130px;\n    position: fixed;\n    top: 13px;\n    left: 12px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "widget:page",
        "className": "",
        "x": 1490,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "e7b2f6ad5889ffc5",
        "type": "link out",
        "z": "6af5d35f8af16f9f",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "d94679c4df212c3e",
            "759a7c531c0a0697",
            "07780ff6c81baaed",
            "0cedab15bf537316",
            "4e076702f7aea5b4",
            "12bbfca88d3c4a99",
            "3b83fe1fc8f978b7",
            "c9ce7755ca38d39f",
            "9a7b607f171abea9",
            "18bf5de41cf91148",
            "adeeb8467bc3ca8c",
            "2635b66c0c38bcb5",
            "b0d1d3c625c1b326",
            "a35c13575a932d7e",
            "c8a3c7ecd90c290c",
            "52c5f2bfb69f6948"
        ],
        "x": 455,
        "y": 580,
        "wires": []
    },
    {
        "id": "5442a27ce3b22075",
        "type": "function",
        "z": "6af5d35f8af16f9f",
        "name": "readyStatus",
        "func": "msg = {\n    \"status\": {\n        \"fill\": \"green\",\n        \"shape\": \"dot\",\n        \"text\": \"ready\"\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c9ce7755ca38d39f",
        "type": "link in",
        "z": "6af5d35f8af16f9f",
        "name": "link in 18",
        "links": [
            "e7b2f6ad5889ffc5"
        ],
        "x": 555,
        "y": 380,
        "wires": [
            [
                "5442a27ce3b22075"
            ]
        ]
    },
    {
        "id": "0d96e2fb91524ab7",
        "type": "switch",
        "z": "6af5d35f8af16f9f",
        "name": "filterData",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sensor_data",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 220,
        "y": 580,
        "wires": [
            [
                "27571189e46c0ea4"
            ]
        ]
    },
    {
        "id": "27571189e46c0ea4",
        "type": "switch",
        "z": "6af5d35f8af16f9f",
        "name": "filterType",
        "property": "payload.sensor_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "108",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 580,
        "wires": [
            [
                "e7b2f6ad5889ffc5"
            ]
        ]
    },
    {
        "id": "750f2e6132424c97",
        "type": "ui-template",
        "z": "6af5d35f8af16f9f",
        "g": "f5f98d73b2f28dc3",
        "group": "0bd2c4243f30c5d4",
        "page": "",
        "ui": "",
        "name": "batteryGauge",
        "order": 2,
        "width": "2",
        "height": "1",
        "head": "",
        "format": "<template>\n    <v-progress-circular class=\"gaugeVue\" bg-color=\"#383838\" model-value=\"20\" :size=\"270\" :width=\"10\" color=\"yellow\" v-model=\"value\">\n            <div class=\"icon\">\n                <v-icon size=\"smaller\" color=\"#ffce21\" icon=\"mdi-battery-charging-60\"></v-icon>\n            </div>\n            <div class=\"text-center\">\n                {{ msg.payload.toFixed(2)}}%\n            </div>\n    </v-progress-circular>\n</template>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1580,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "f769eb10ed6e4e8e",
        "type": "group",
        "z": "6af5d35f8af16f9f",
        "name": "STYLE",
        "style": {
            "stroke": "#999999",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "color": "#a4a4a4"
        },
        "nodes": [
            "882350dd13aaef44",
            "6679aa49def8787a"
        ],
        "x": 1414,
        "y": 319,
        "w": 272,
        "h": 82
    },
    {
        "id": "f5f98d73b2f28dc3",
        "type": "group",
        "z": "6af5d35f8af16f9f",
        "name": "SENSOR DATA",
        "style": {
            "label": true
        },
        "nodes": [
            "0dbd8cdac68f3b94",
            "4bf29016c44d1fc8",
            "5620868c18230265",
            "3126bad7f3b39d9c",
            "453bd967e89403a4",
            "7752e7d623f58741",
            "a0bc12baef062058",
            "2c2a81bd09fd0513",
            "0e90a1b56864e939",
            "be2555b50df4c07e",
            "6f6dde7348854ef6",
            "9ff2072cd0fb2313",
            "b181f50335ad845e",
            "2cc77291b162787a",
            "90d910e0f9e22bcd",
            "af4eaf3eeb57c204",
            "96131db36375a9b7",
            "6eea40e8b22a3ac6",
            "d16a496eaf075b8a",
            "801794203810d583",
            "7e64924383193d38",
            "d10e6d07c4588a15",
            "c12461b654b1dc6a",
            "9a7b607f171abea9",
            "faa0c1e9296ab0e4",
            "7ade61767da6c631",
            "49e57135fa0f12c3",
            "b0d1d3c625c1b326",
            "4f58392591eba5a4",
            "b1cfde20e26f252e",
            "4e076702f7aea5b4",
            "d1dde2c558966312",
            "3a29ded820401139",
            "adeeb8467bc3ca8c",
            "9a918c17c342279d",
            "f3945bc1b91ed67c",
            "759a7c531c0a0697",
            "83dff13f781c8d76",
            "7a065adbec7e7123",
            "0cedab15bf537316",
            "b5a6f97e44a8f737",
            "e4f9ec6d20adfc32",
            "12bbfca88d3c4a99",
            "1479b2f738fa4f08",
            "18bf5de41cf91148",
            "7521e7bc7d60dc7f",
            "fd5a25c48281654f",
            "3b83fe1fc8f978b7",
            "fdb13f75496b2355",
            "1e1c9c8139945fe8",
            "2635b66c0c38bcb5",
            "cd84d3ed578c8c32",
            "1c9f89eefedc03a0",
            "d94679c4df212c3e",
            "e5481809417bf07e",
            "750f2e6132424c97"
        ],
        "x": 524,
        "y": 419,
        "w": 1162,
        "h": 382
    },
    {
        "id": "a1614549c408f643",
        "type": "ui-group",
        "name": "dinCountGroup",
        "page": "9c7c0c028d2ab7f2",
        "width": "2",
        "height": "1",
        "order": 1,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bb34489cec40b987",
        "type": "ui-group",
        "name": "dinUptimeGroup",
        "page": "9c7c0c028d2ab7f2",
        "width": "2",
        "height": "1",
        "order": 6,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "061122425c5dc0ba",
        "type": "ui-group",
        "name": "ctInCountGroup",
        "page": "9c7c0c028d2ab7f2",
        "width": "2",
        "height": "1",
        "order": 2,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "061c5d801d70f8e9",
        "type": "ui-group",
        "name": "ctInUptimeGroup",
        "page": "9c7c0c028d2ab7f2",
        "width": "2",
        "height": "1",
        "order": 7,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e97e0ee50456d11d",
        "type": "ui-group",
        "name": "optoInCountGroup",
        "page": "9c7c0c028d2ab7f2",
        "width": "2",
        "height": "1",
        "order": 3,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "fbe59b88eea649ee",
        "type": "ui-group",
        "name": "optoInUptimeGroup",
        "page": "9c7c0c028d2ab7f2",
        "width": "2",
        "height": "1",
        "order": 8,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "03fa99e0c2b17b14",
        "type": "ui-group",
        "name": "accInCountGroup",
        "page": "9c7c0c028d2ab7f2",
        "width": "2",
        "height": "1",
        "order": 4,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9da508f4b638785d",
        "type": "ui-group",
        "name": "accInUptimeGroup",
        "page": "9c7c0c028d2ab7f2",
        "width": "2",
        "height": "1",
        "order": 9,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c5b43765ca326def",
        "type": "ui-group",
        "name": "magInCountGroup",
        "page": "9c7c0c028d2ab7f2",
        "width": "4",
        "height": "1",
        "order": 5,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4434273855505cac",
        "type": "ui-group",
        "name": "magInUptimeGroup",
        "page": "9c7c0c028d2ab7f2",
        "width": "4",
        "height": "1",
        "order": 10,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0bd2c4243f30c5d4",
        "type": "ui-group",
        "name": "batteryGaugeGroup",
        "page": "9c7c0c028d2ab7f2",
        "width": "2",
        "height": "1",
        "order": 12,
        "showTitle": false,
        "className": "mainGroups",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b3e0efe3e78c4e09",
        "type": "ui-group",
        "name": "Battery Level History",
        "page": "9c7c0c028d2ab7f2",
        "width": "8",
        "height": "1",
        "order": 11,
        "showTitle": false,
        "className": "batteryGroup",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9c7c0c028d2ab7f2",
        "type": "ui-page",
        "name": "uptime-dashboard",
        "ui": "0ee9ba68ec550cf9",
        "path": "/uptime1",
        "icon": "home",
        "layout": "grid",
        "theme": "ed51bf90fe5d9371",
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0ee9ba68ec550cf9",
        "type": "ui-base",
        "name": "ncd-ui-base",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default"
    },
    {
        "id": "ed51bf90fe5d9371",
        "type": "ui-theme",
        "name": "ncdTheme",
        "colors": {
            "surface": "#0099cc",
            "primary": "#0931fb",
            "bgPage": "#000000",
            "groupBg": "#191a1a",
            "groupOutline": "#313030"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "6px",
            "groupBorderRadius": "8px",
            "widgetGap": "10px"
        }
    },
    {
        "id": "5aa9365e086c5f4a",
        "type": "tab",
        "label": "108 QS Example Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "38cc403e12f095f5",
        "type": "subflow:6af5d35f8af16f9f",
        "z": "5aa9365e086c5f4a",
        "name": "",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "d93c93ada58e2625",
        "type": "ncd-gateway-node",
        "z": "5aa9365e086c5f4a",
        "name": "",
        "connection": "3a158777559a1790",
        "unknown_devices": 0,
        "outputs": 1,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "38cc403e12f095f5"
            ]
        ]
    },
    {
        "id": "3a158777559a1790",
        "type": "ncd-gateway-config",
        "name": "",
        "comm_type": "serial",
        "ip_address": "",
        "tcp_port": "2101",
        "port": "/dev/ttymxc2",
        "baudRate": "115200",
        "pan_id": "7FFF",
        "rssi": false
    }
]
